{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block header %}
    {% include 'header.html.twig' with user %}
{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html.twig' with user %}
{% endblock %}

{% block body %}
    <div class="col-6 offset-3 d-flex align-items-center justify-content-center pt-5">
        <div class="card col-12" id="register-staff-screen">
            <div class="card-header">
                <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
            </div>
            <div class="card-body">
                {{ form_start(changepasswordForm) }}
                {{ form_row(changepasswordForm.newPassword) }}
                {{ form_row(changepasswordForm.repeatPassword) }}
                <button class="btn btn-lg btn-primary" type="submit">Update Password</button>
                {{ form_end(changepasswordForm) }}
            </div>
        </div>
    </div>
{% endblock %}
