<h1>Welcome to the Thing!</h1>

<p>
    Please log into the the system and reset your password:
</p>
<ul>
    <li><b>URL: </b> <a href="{{ url }}">{{ url }}</a></li>
    <li><b>Username: </b> {{ username }}</li>
    <li><b>Password: </b> {{ password }}</li>
</ul>

<p>
    Thanks,
</p>
<p>Thing Automated Mailer</p>
