:root {
    --light: #ffffff;
    --dark: #021422;
    --primary: #3f6e75;
    --secondary: #eb6132;
    --tertiary: #aa9484;

    --primary-alt: #87A4A9;


    --status-applied: #ffc400;
    --status-pending: #a39f9f;
    --status-approved: #26d945;
    --status-denied: #ff5d5d;
    --status-cancelled: #340231;
    --status-deferred: #6f8eff;
    --status-passed: #269200;
    --status-failed: #bb0014;
    
    
}


body {
    background-color: var(--light);
    color: var(--dark);
}

#header {
    width: 100%;
    background-color: var(--dark);
    border-bottom: 5px solid var(--primary);
    color: var(--light) !important;
    padding-bottom: 1em;
}

#thing-sidebar {
    border-color: var(--primary) !important;
}

.title-text {
    font-size: 40pt;
}


.sidebar-item {
    background-color: var(--dark);
    color: var(--light);
    font-size: 1.25em;
    border-bottom: 1px solid var(--primary-alt);
}

.sidebar-item>a {
    color: inherit;
    text-decoration: none;
}

.box-alt-color:nth-child(odd) {
    border: 2px solid var(--dark);
    background-color: var(--primary-alt);
}

.vendor-badge {
    background-color: #ff0000;
    color: #ffffff;
    padding: .25em;
}

.table-list .sorted>a.desc::after {
    font-family: "Font Awesome 5 Pro";
    font-weight:900;
    content: " \f0d7";
}

.table-list .sorted>a.asc::after {
    font-family: "Font Awesome 5 Pro";
    font-weight:900;
    content: " \f0d8";
}

.status {
    border-radius: 100px;
    border: 1px solid var(--dark);
    padding: .25em;
    text-align: center !important;
    vertical-align: middle !important;
}

.status>div.mb-3 {
    margin: 0 !important;
}

.status>div.mb-3>label {
    display: none;
}

.status>div.mb-3>div.col-sm-10 {
    width: 100%;
}

a.sortable,a.asc, a.desc {
    text-decoration: none;
    font-weight: bold;
    color: var(--dark);
}

.status-applied { background-color: var(--status-applied); }
.status-pending { background-color: var(--status-pending); }
.status-approved { background-color: var(--status-approved); }
.status-denied { background-color: var(--status-denied); }
.status-cancelled { background-color: var(--status-cancelled); }
.status-deferred { background-color: var(--status-deferred); }
.status-passed {background-color: var(--status-passed); }
.status-failed { background-color: var(--status-failed); }

.vendor-view div.row:nth-child(odd) {
    border-radius: 8px;
    background-color: rgba(0,0,0, 10%);
}

div.navigation {
    border: 1px solid var(--dark);
    background-color: var(--primary);
    border-radius: 100px;
    color: var(--light);
}

div.navigation span {
    padding-left: .5em;
    padding-right: .5em;
}

div.navigation a {
    color: var(--light);
    text-decoration: none;
    font-weight: bold;
}

span.foo {
    background-color: var(--primary);
}


.cl-date {
    font-size: .75rem;
}

.cl-title {
    font-weight: bold;
}

.message-row:nth-child(even) {
    background-color: rgba(63, 110, 117, 10%)
}

.event-item {
    border: 2px solid rgba(0,0,0,.25);
    border-radius: 12px;
    padding: .5em;
}

div.event-item:nth-child(even) {
    background-color: #DDDDDD;

}

div.event-item.event-running {
    background-color: #94efa7 !important;

}

div.event-item.event-complete {
    background-color: #f5e39b !important;
}

div.event-item.event-ready {
    background-color: #6f8eff !important;
}


.item-bubble {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid #666666;
    float:left;
    color: #999999;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.item-bubble.small {
    width: 12px !important;
    height: 12px !important;
    font-size: 8px !important;
}

.item-bubble.item-skip {
    background-color: #f5e39b;
}

.item-bubble.item-voted {
    background-color: #009900;
    color: #ffffff;
}

div#vendor-image-carousel {
    width: 100%;
    min-height: 500px;
    height: 500px;

}

div.carousel-item {
    min-height: 500px;
}

#vendor-images button {
    color: #666666 !important;
}

#score-reporting-float {
    position: fixed;
    width: 150px;
    height: 200px;
    right: 20px;
    bottom: 50px;
    border: 1px solid #000000;
    border-radius: 24px;
    background-color: #ffffff;
}

.vote-process:nth-child(odd) {
    background-color: rgba(0,0,0,10%);
}

.vote-process.process-accept {
    background-color: #94efa7;
}

.vote-process.process-accept:nth-child(odd) {
    background-color: #7ac48a;
}

#report-window {
    position: relative;
    height: 120px;
    font-size: 60pt;
}

#report-hover {
    position: absolute;
    z-index: 200;
    bottom: 60px;
    left: 30px;
    color: #87A4A9;
    font-size: 12pt;
}