<div id="header">
    <div class="row">
        <div class="col-8 p-2 ps-4 title-text">
            THING
        </div>
        <div class="col-4 text-end pe-2 mb-2">
            <div class="row mt-2 me-2">
                <div class="col-6">Hello {{ user.name }}</div>
                <div class="col-6 btn-group">
                    <a href="/logout" class="btn btn-light"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu p-2">
                        <li><a href="/changepassword" class=""><i class="fas fa-edit"></i> Change Password</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>