{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    {% include 'header.html.twig' with user %}
{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html.twig' with user %}
{% endblock %}
{% block body %}
    <div class="row pt-3">
        <div class="col-6 offset-1 d-flex">
            <div class="card col-12" id="dashboard-screen">
                <div class="card-header">
                    <h2>Thing Dashboard</h2>
                </div>
                <div class="card-body">
                    <div class="row ">
                        <p>Welcome to the Thing.  Items in <span class="text-secondary">dark text</span> in the menu are not yet available.</p>
                        <p>You may change your password by clicking on the arrow next to the logout button.</p>
                    </div>
                    {% if vendorCount > 0 %}
                        <div class="row">
                            <h3>Vendor Categories (All Applied)</h3>
                            <canvas id="allVendorDetails" class="pie" data-charttype="pie" data-url="/chart/vendors/all"></canvas>
                        </div>
                    {% endif %}
                    {% if vendorApproved > 0 %}
                        <div class="row">
                            <h3>Vendor Categories (All Approved)</h3>
                            <canvas id="approvedVendorDetails" class="pie" data-charttype="pie" data-url="/chart/vendors/approved"></canvas>
                        </div>
                    {% endif %}
                </div>


            </div>
        </div>
        <div class="col-4 offset-1 d-flex">
            <div class="card col-11" id="register-staff-screen">
                <div class="card-header">
                        {% if 'ROLE_EDITSTAFF' in user.roles %}
                            <div class="float-end m-2"><a class="btn btn-success" href="/addmessage"><i class="fas fa-plus-square"></i></a></div>
                        {% endif %}
                    <h2>Messages</h2>
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        <div class="row message-row mb-3">
                            <div class="row">
                                <div class="col-1 cl-icon"><i class="fas {{ message.icon }}"></i></div>
                                <div class="col-7 cl-title">{{ message.subject }}</div>
                                <div class="col-4 cl-date">{{ message.createdon|date('Y-m-d') }}</div>
                            </div>
                            <div class="row">
                                <div class="col-11 offset-1 cl-message">{{ message.message }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script language="JavaScript">
        $(document).ready(function() {

            // let testData = {"type":"pie","labels":["Comic Books \/ Graphic Novels","Clothing","Accessories \/ Jewelry","Fursuits \/ Costuming","Artwork (Originals \/ Prints \/ Commissions)","Plush Animals \/ Toys","Other (Please describe below)","Books \/ Magazines","Perfumes \/ Soaps \/ Sprays","Games (Board \/ Video \/ Tabletop )","Home Goods (Mugs \/ Pillows \/ etc)","Printing \/ Lamination","Sculpture \/ Figurines"],"data":[18,36,42,69,176,30,28,12,3,6,9,2,9]};


            {% if vendorCount > 0 %}
                loadChart('allVendorDetails');
            {% endif %}
            {% if vendorApproved > 0 %}
                loadChart('approvedVendorDetails');
            {% endif %}
        });
    </script>

{% endblock %}


